fastapi
uvicorn
transformers
torch
pyodbc
pymssql
python-jose
python-multipart
pydantic
email-validator
tensorflow
passlib
fastapi-cors
jinja2
pytest
python-dotenv
joblib
scikit-learn
numpy
lightgbm
sqlalchemy

